body {
    background: #8bbbbb;
    /*background: no-repeat url("https://thumbnail.imgbin.com/10/2/6/imgbin-dota-2-magician-video-game-humour-others-6bZzqR0LU44K8vsM292QH5AJN_t.jpg");*/
    margin-top: 50px;
    margin-left: 100px;
}

#name {
    margin-top: 50px;
    margin-left: 100px;
}
