<!DOCTYPE html>
<html lang="ru">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon"
          href="https://www.seekpng.com/png/detail/18-188405_image-result-for-dota-2-logo-dota-2.png"
          type="image/x-icon">
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href='/static/main.css'/>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

    <title>Статистика по доте</title>
</head>

<body class="info_body">

<div id="timer">
    <form id="action"
          action="{{ url_for('info', account_id=account_id, update_profile=update_profile) }}" method="GET">
        <input type="hidden" formmethod="get" name="account_id" value="{{ account_id }}">
        <input type="hidden" formmethod="get" name="update_profile" value="True">
        <input type="hidden" formmethod="get" name="option">
        <button id="timer_button"><i class='fas fa-sync-alt'></i></button>
        <label for="refresh_time-select"></label>
        <select id="refresh_time-select">
            <option value="manual">Только вручную</option>
            <option value="5000">Каждую минуту</option>
            <option value="300000">Каждые 5 минут</option>
            <option value="600000">Каждые 10 минут</option>
            <option value="1800000">Каждые 30 минут</option>
            <option value="3600000">Каждый час</option>
        </select>
    </form>
</div>

<div id="player_info" class="container">
    <div class="row">
        <div class="col-4">
            <img id="round_player_img" src="{{user_stats.avatar}}"><br>
            <div id="name">
                <p> Имя игрока: {{user_stats.name}}</p>
            </div>
        </div>
        <div class="col-4 align-self-center">
            <h2>Нормалы</h2>
            Побед:{{user_stats.normal_wins}}<br>
            Поражений:{{user_stats.normal_lose}}<br>
            Процент побед:{{user_stats.normal_wr}}<br>
        </div>
        <div class="col-4 align-self-center">
            <h2>Турбо</h2>
            Побед:{{user_stats.turbo_wins}}<br>
            Поражений:{{user_stats.turbo_lose}}<br>
            Процент побед:{{user_stats.turbo_wr}}<br>
        </div>
    </div>
</div>


<div id="heroes_info" class="mb-3">
    <div class="mb-3">
        <div class="container">
            {% for hero_stats in heroes_stats %}
            <br>
            <div class="row justify-content-md-center">

                <div class="col-4">
                    <img class="hero_img" src="data:image/jpeg;base64,{{ hero_stats.hero_img_decoded }}">
                </div>
                <div class="col-8">
                    <p id="info_hero_text">
                        Название героя: <strong>{{hero_stats.hero_name}}</strong><br>
                        Матчей: {{hero_stats.games}}<br>
                        Побед: {{hero_stats.wins}}<br>
                        Поражений: {{hero_stats.losses}}<br>
                        Процент побед: {{hero_stats.winrate}}<br>
                    </p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
</body>
</html>
<script>

    let selector = document.getElementById("refresh_time-select");
     const doc = document.getElementById("action")


        $(document).ready(function () {
            while_loop();
        });

    async function while_loop() {
        while ($(document).ready) {
            await refresh();
        }

        async function refresh() {
            if (selector.options[selector.selectedIndex].value === "manual") {
                await sleep(10000);
            } else {
                while (selector.options[selector.selectedIndex].value !== "manual") {
                    window.location = doc.action;
                    // document.getElementById("option").value = selector.options[selector.selectedIndex].value;
                    await sleep(Number(selector.options[selector.selectedIndex].value));
                }
            }
        }
    }

    const sleep = async (milliseconds) => {
        await new Promise(resolve => {
            return setTimeout(resolve, milliseconds)
        });
    };

    // let urlString = this.document.documentURI;
    // let paramString = urlString.split('?')[1];
    // let queryString = new URLSearchParams(paramString);
    // // for(pair queryString.entries()) {
    // //         console.log("Key is:" + pair[0]);
    // //         console.log("Value is:" + pair[1]);
    // //     }
    // console.log(queryString.entries()["option"])
    // // selector.options[selector.selectedIndex].value


</script>